<!doctype html>
<html lang="en">

<head>
    <%- include("partials/head") %>
</head>

<body>
    <%- include("partials/navbar") %>
    
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h1>Admin - Usuarios</h1>
            </div>
            <div class="d-flex justify-content-end">
                <a href="/admin/crear" class="btn btn-primary">Crear</a>
            </div>
        </div>
        
        <% if (mensaje) { %>
            <div class="alert alert-info" role="alert"><%= mensaje %></div>
        <% } %>
       
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Perfil</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(usuario=> { %>
                    <tr>
                        <td>
                            <%= usuario.id %>
                        </td>
                        <td>
                            <%= usuario.nombre %>
                        </td>
                        <td>
                            <%= usuario.email %>
                        </td>
                        <td>
                            <%= usuario.telefono %>
                        </td>
                        <td>
                            <%= usuario.edad %>
                        </td>
                        <td>
                            <%= usuario.ciudad %>
                        </td>
                        <td>
                            <img src="<%= usuario.imagen %>" width="100">
                        </td>
                        <td>
                            <a href="/admin/editar/<%= usuario.id %>">Editar </a>
                            <a href="/admin/borrar/<%= usuario.id %>">Borrar </a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>



    <%- include("partials/footer") %>
</body>

</html>